<div class="top-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        <form class="navbar-form navbar-left">
              <div class="form-group">
                  <input type="text" class="form-control nav-form-control" placeholder="Search">
                  <button type="submit" class="btn btn-default"><img [src]="assetsUrl+'images/search-icon.png'" alt=""/></button>
              </div>
            </form>
      </div>
      <div class="col-sm-2">
        <a href="#"><img class="mobile-icon" [src]="assetsUrl+'images/mobile-icon.png'" alt=""/><div class="mobile"><p>1-555-644-5566</p></div></a>
      </div>
    </div>
  </div>
</div>
<!-- Top Search Section End-->

<!-- Top Navigation Section Start-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand"><img class="logo" [src]="assetsUrl+'images/logo.png'" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        </ul>
      </div>
    </div>
      </nav>
 
   <router-outlet></router-outlet>

<!-- Footer Section Start-->
<div class="footer-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="footer">
          <h2>Quick Links</h2>
          <div class="nav-col">
                <ul>
                  <li><a href="index.html">ACCOUNT</a></li>
                    <li><a href="about.html">HELP TOPICS</a></li>
                    <li><a href="services.html">TECHNIQUE VIDEOS</a></li>
                    <li><a href="services.html">SUPPORT</a></li>
                </ul>
              </div>
              <div class="clear"></div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="footer">
          <h2>NEED HELP?</h2>
          <div class="nav-col">
                <ul>
                  <li><a href="index.html">Email Support</a></li>
                    <li><a href="about.html">Help center</a></li>
                    <li><a href="services.html">Gift Certificates</a></li>
                    <li><a href="services.html">Send Us Feedback</a></li>
                </ul>
              </div>
              <div class="clear"></div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="footer">
          <h2>Quick Access</h2>
          <div class="nav-col">
                <ul>
                  <li><a href="index.html">Workout</a></li>
                    <li><a href="about.html">pricing</a></li>
                    <li><a href="services.html">Fat Control</a></li>
                    <li><a href="services.html">SUPPORT</a></li>
                </ul>
              </div>
              <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="newsletter-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="text-center">
          <div class="newsletter">
            <h2>JOIN OUR <span>NEWSLETTER</span></h2>
          </div>
        </div>
      </div>
      <div class="col-sm-6 offset-sm-2">
        <input type="email" class="form-control-footer" id="exampleInputEmail3" placeholder="Enter your email">
      </div>
      <div class="col-sm-4">
        <button type="submit" class="newsletter-button">Send</button>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-9 offset-sm-3">
      <a href="#"><img class="fb-icon" [src]="assetsUrl+'images/fb-icon.png'" alt=""/></a> 
        <a href="#"><img class="fb-icon" [src]="assetsUrl+'images/twitter-icon.png'" alt=""/></a>
        <a href="#"><img class="fb-icon" [src]="assetsUrl+'images/youtube-icon.png'" alt=""/></a>
        <a href="#"><img class="fb-icon" [src]="assetsUrl+'images/google-icon.png'" alt=""/></a>
        <a href="#"><img class="fb-icon" [src]="assetsUrl+'images/p-icon.png'" alt=""/></a>
      </div>
  </div>
</div>
<div class="copyright-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="copyright">
          <div class="text-center">
            <p>© 2017 Workout Builder Pro,  All rights reserved. WorkoutBuilderPro.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>