<div class="modal_wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="register-popup-bg">
            <div class="col-sm-6" style="padding-left: 0px; padding-right: 0px; float: left;">
              <div class="login-bg" style="border-top-right-radius: 0px; border-bottom-right-radius: 0px;">
                <h2 style="text-align: center; color: #fd3c3d; font-weight: 900; text-transform: uppercase; padding-top: 30px;">{{heading}}</h2>

                <!-- Verify Reset area start -->
  
                <div class=" col-sm-12 login" *ngIf=" !verifyResponse && loading ">
                    <h3 style="padding-left: 20px; padding-right: 20px; font-size: 26px; padding-top: 30px; text-align: center; line-height: 40px; font-weight: normal; color: #20232a;">Please wait</h3>
                    <br />
                    <h3 style="padding-left: 20px; padding-right: 20px; font-size: 26px; padding-top: 30px; text-align: center; line-height: 40px; font-weight: normal; color: #20232a;">Your link is been verified</h3>
                  </div>
    
                  <div class=" col-sm-12 login" *ngIf=" successreset && !loading && verifyResponse">
                    <h3 style="padding-left: 20px; padding-right: 20px; font-size: 26px; padding-top: 30px; text-align: center; line-height: 40px; font-weight: normal; color: #20232a;">Successfully Reset</h3>
                    <br />
                    <h3 style="padding-left: 20px; padding-right: 20px; font-size: 26px; padding-top: 30px; text-align: center; line-height: 40px; font-weight: normal; color: #20232a;">Please login with your new password</h3>
                    <div class="text-center">
                      <button (click)="navigate()" class="login-popup-button" style="text-align: center; float: unset;">Okay</button>
                    </div>
                  </div>
                  <div class="col-sm-12 login" *ngIf="!verifyResponse && !loading">
                      <h3 style="padding-left: 20px; padding-right: 20px; font-size: 26px; padding-top: 30px; text-align: center; line-height: 40px; font-weight: normal; color: #20232a;">Not verified</h3>
                      <br />
                  </div>
                  <div *ngIf="verifyResponse && !loading">
                    <form class="padding">
                      <div class="form-group" [formGroup]="resetForm">
                        <label for="exampleInputPassword1"><div class="login"><h3>Password</h3></div></label>
                        <input type="password" class="form-control" id="exampleInputPassword12" name="password" formControlName="password" placeholder="Password">
                      </div>
                      <div class="form-group" [formGroup]="resetForm">
                        <label for="exampleInputPassword1"><div class="login"><h3>Confirm Password</h3></div></label>
                        <input type="password" class="form-control" id="exampleInputPassword123" name="confirmPassword" formControlName="confirmPassword"
                          placeholder="Confirm Password">
                      </div>
                      <button type="submit" (click)="resetSubmit()" class="login-popup-button">Reset</button>
                    </form>
                  </div>
    
                  <div *ngIf="loading">
                    <loader-component [width]="80"></loader-component>
                  </div>
  
                <!-- End -->
  
                <div class="clear"></div>
              </div>
              <div class="clear"></div>
            </div>
  
  
  
  
            <div class="col-sm-6" style="padding-left: 0px; padding-right: 0px; float: left;">
              <div class="login-bg" style="background-color: #fd3c3d; border-bottom-right-radius: 4px !important; border: 0px; border-radius: 0px; border-top-right-radius: 4px;">

               <img style="width: 100%;" class="mobile-icon" [src]="assetsUrl + 'images/reset-icon.png'" alt="" />
  
              </div>
            </div>
            <div class="clear"></div>
  
            <div class="clear"></div>
  
          </div>
        </div>
      </div>
    </div>
  </div>
