 <!-- Banner Section Start-->
 <div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Welcome to</h1>
        <h1><span>Workout</span> Builder Pro</h1>
        <div class="banner-information">
          <p>It is a long established fact that a reader will be distracted by the readable content of a page<br> when looking at its layout. </p>
        </div>
        <div class="text-center">
          <button type="submit" class="banner-btn">Get start today</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="banner-bottom-border"></div>
<!-- Banner Section End-->	
  
<!-- Login Section Start-->	
<div class="login-bg">
  <div class="container">
<inline-login-component></inline-login-component>
  </div>
</div>
<!-- Login Section End-->	

<!-- Built Workout Section Start-->	

<!-- Built Workout Section End-->

<!-- Training Section Start-->
<div class="training-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 offset-sm-7">
        <h3>Regular <span>training</span> makes your <span>body sound</span> and your soul strong</h3>
        <div class="training-information">
          <p>Your inner strength, your will, are just like the body — just like the muscles.</p>
        </div>
      </div>
    </div>
  </div>
</div>	
<!-- Training Section End-->			

<!-- Fitness Section Start-->
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h4>Fitness <span>is the Answer</span></h4>
      <h5>WHENEVER THE QUESTION IS YOUR PHYSICAL SHAPE!</h5>
      <div class="fitness-information">
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
      </div>
    </div>
    <div class="col-sm-6">
        <div class="text-center">
          <img class="fitness-image" [src]="assetsUrl+'images/fitness-image.png'" alt=""/>
      </div> 
      </div>
  </div>
</div>
<!-- Fitness Section End-->	

<!-- Client Section Start-->
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="text-center">
        <h4 class="padding"><span>Our</span> Clients</h4>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="client-box">
        <img class="client-image" [src]="assetsUrl+'images/client-image-1.png'" alt=""/> 
        <h6>Tanya Swift new female</h6>
        <h6><span>athleth of the month</span></h6>
        <div class="client-information">
          <p>12 Years ago I lost 80lbs with the help of a personal coach and it completely changed my way of life. Since then, it’s been my mission to sway other people do CrossFit too.</p>
        </div>
        <img class="coach-image" [src]="assetsUrl+'images/coach-image.png'" alt=""/>
        <div class="coach">
        <h2>Dominic Snyder <br><span>Coach</span></h2>
        </div>
        <div class="clear"></div>
        </div>
    </div>
      <div class="col-sm-4">
      <div class="client-box">
        <img class="client-image" [src]="assetsUrl+'images/client-image-2.png'" alt=""/> 
        <h6>Tanya Swift new female</h6>
        <h6><span>athleth of the month</span></h6>
        <div class="client-information">
          <p>12 Years ago I lost 80lbs with the help of a personal coach and it completely changed my way of life. Since then, it’s been my mission to sway other people do CrossFit too.</p>
        </div>
        <img class="coach-image" [src]="assetsUrl+'images/coach-image.png'" alt=""/>
        <div class="coach">
        <h2>Dominic Snyder <br><span>Coach</span></h2>
        </div>
        <div class="clear"></div>
        </div>
    </div>
      <div class="col-sm-4">
      <div class="client-box">
        <img class="client-image" [src]="assetsUrl+'images/client-image-3.png'" alt=""/> 
        <h6>Tanya Swift new female</h6>
        <h6><span>athleth of the month</span></h6>
        <div class="client-information">
          <p>12 Years ago I lost 80lbs with the help of a personal coach and it completely changed my way of life. Since then, it’s been my mission to sway other people do CrossFit too.</p>
        </div>
        <img class="coach-image" [src]="assetsUrl+'images/coach-image.png'" alt=""/>
        <div class="coach">
        <h2>Dominic Snyder <br><span>Coach</span></h2>
        </div>
        <div class="clear"></div>
        </div>
    </div>
  </div>
</div>	
<!-- Client Section End-->	

<!-- Pricing Section Start-->
<div class="pricing-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
      <div class="text-center">
        <h4>Pricing</h4>
      </div>
      </div>
      <div class="col-sm-8">
        <img class="pricing-image" [src]="assetsUrl+'images/pricing-image.png'" alt=""/> 
        </div>
        <div class="col-sm-4">
          <div class="pricing">
            <h2>$20<br> per <span>month</span></h2>
            <p>1 Intra-Workouts</p>
            <p>2 Pre-Workouts</p>
            <p>3 Muscle Building Stacks</p>
            <p>4 Creatine</p>
            <p>5 Post-Workouts</p>
            <p>6 Protein</p>
          </div>
          <button type="submit" class="workout-button">Buy Now</button>
        </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-5">
          <div class="pricing">
            <h2>$200 12 months upfront, <br>recurring <span>annual payment</span></h2>
            <p>1 Intra-Workouts</p>
            <p>2 Pre-Workouts</p>
            <p>3 Muscle Building Stacks</p>
            <p>4 Creatine</p>
            <p>5 Post-Workouts</p>
            <p>6 Protein</p>
          </div>
          <button type="submit" class="workout-button">Buy Now</button>
        </div>
    <div class="col-sm-7">
        <img class="pricing-image" [src]="assetsUrl+'images/pricing-image-1.png'" alt=""/> 
        </div>
    
  </div>
</div>	
<!-- Pricing Section End-->	
<router-outlet></router-outlet>